<!DOCTYPE html>
<html>
	<head>
		
		<title>Medical Store</title>
		
<!-- 		
		<div class="ui fixed inverted menu">
			<div class="ui  container">
				<div class="header item">
					<div class="ui huge header"></div><a href="/"><i class="medkit icon"></i>Medical Store</a></div>
				
					
					
				</div>
			</div> -->

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
				<head>
	<body>
		