<% include partials/header %>

<div class="ui clearing segment">
  <h3 class="ui right floated header"><a href="/logout">Logout</a></h3>
	<h3 class="ui left floated header"><a href="/"><i class="medkit icon"></i>Medical Store</a></h3>
</div>

<!-- Page Design -->
<div class="ui container" style="width: 35%">
	  <div class="ui placeholder segment container" style="margin: 8em">
        <div class="column">
          <div class="ui form">
            <div class="middle aligned column" style="margin-left: 3em">
              <div class="ui big basic button"><a href="/medicines"><i class="list icon"></i>Medicines List</a> 
              </div>
              <div class="ui big basic button" style="margin-top: 2em"><a href="/userslist"><i class="user icon"></i>Users List</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>